body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    width: 100%;
    /*height: 800px;*/
    background: url(images/bg-main.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.navbar {
    background-color: transparent;
}


/*.container .nav-lf {
    float: left;
    padding-top: 20px;
}
*/

body.scrolled .navbar {
    background-color: rgba(255, 255, 255, .9);
}

body.scrolled .logo-dark {
    display: block;
}

body.scrolled .logo-light {
    display: none;
}

.navbar-brand> img {
    height: 30px;
    max-width: 100%;
}

.navbar-brand .logo-dark {
    display: none;
}


/*.nav li {
    display: inline;
    list-style: none;
}

.nav-rt li a {
    display: inline-block;
    text-decoration: none;
    font: 14px/60px arial;
    padding: 0 10px;
}
*/

.main-section {
    padding: 160px 0 100px 0;
}

.particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main-section .intro {
    text-align: left;
    padding: 120px 0 105px 0;
    color: #fff;
}

.main-section .intro h1 {
    font-size: 56px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 1.2em;
}

.main-section .intro p {
    margin: 0;
    margin-bottom: 50px;
    font-size: 22px;
    letter-spacing: 2px;
}

.main-section .btns a {
    display: inline-block;
    padding: 9px 31px;
    border: 2px solid #e0e0e0;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}

.btns a i {
    font-size: 20px;
    margin-right: 4px;
    vertical-align: middle;
}

.main-section .btns a:hover {
    background-color: #fff;
    color: #000;
}

.main-section .markup {
    position: relative;
}

.markup .back {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
}

.markup .front {
    position: relative;
    max-width: 100%;
}

#video {
    width: 100%;
    /*height: 560px;*/
    background: url(images/bg-mockup.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#video .watch-video {
    padding: 140px 0;
    color: #fff;
}

.watch-video h4{
	font-size: 42px;
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: 300;
	font-family: 'Playfair Display', serif;
}
.watch-video p{
	line-height: 1.7em;
}
#features {
    padding: 110px 0
}

.col-feature:first-of-type {
    margin-bottom: 80px;
}

.col-feature i {
    height: 80px;
    width: 80px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
}

.col-feature>i:before {
    line-height: 80px;
}

.col-feature h4 {
    font-size: 30px;
    margin: 10px 0;
}

.section-header {
    text-align: center;
    margin: 10px 0 80px 0;
}

.section-header h2 {
    font-size: 20px;
    padding-top: 40px;
}

.features-img {
    padding: 0 25px;
}

.features-img img {
    max-width: 100%;
    text-align: center;
}

#download {
    padding: 110px 0;
    background: url(images/bg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.download-app {}

.download-app h1 {
    font: 30px;
    text-align: center;
    margin: 30px 0;
    color: #fff;
}

.download-btns {
    text-align: center;
}

.newsletter {
    padding-top: 95px;
    position: relative;
}

.newsletter h2 {
    text-align: center;
    color: #fff;
    margin: 50px 0;
}

.newsletter .input {
    position: relative;
}

.newsletter input {
    color: #fff;
    width: 100%;
    height: 46px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    position: relative;
    background-color: transparent;
}

.newsletter .input button {
    border: 0;
    color: #fff;
    background-color: transparent;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
}

#contact {
    /*height: 750px;*/
    padding: 110px 0;
}

#contact .sayhi {
    margin: 40px 0;
}

#contact .sayhi h4 {
    text-align: center;
    margin: 10px 0;
}

#contact .sayhi p {
    text-align: center;
}

#contact .contact-info {}

#contact .contact-info input {
    height: 46px;
    /*margin: 10px 0;*/
    padding: 4px;
    outline: 0;
    /*margin-bottom: 2px;*/
}

#contact .contact-info input:focus,
.message:focus {
    border: 1px solid #000;
}

.test {
    border: 1px solid transparent;
}

.name,
.email {
    width: 100%;
}

.subject {
    width: 100%;
}

.message {
    width: 100%;
    padding: 4px;
    outline: 0;
}

.send {
    margin-top: 10px;
    text-align: center;
}

footer {
    background-color: #202020;
    padding: 20px 0;
    color: #fff;
}

footer p {
    font-size: 16px;
    margin: 0;
    margin-top: 8px;
}

.footer-social a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    float: right;
    padding: 5px;
    margin-left: 20px;
}

@media(max-width: 992px) {
    .col-feature {
        text-align: center;
    }
}

@media(max-width: 768px) {
    .nav-lf img {
        max-width: 50%;
    }
    .navbar-right {
        display: none;
    }
}
